<!DOCTYPE html>

<html>

    <head>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <script src = '/javascripts/leaflet-heat.js'></script>
          <link href='https://fonts.googleapis.com/css?family=Roboto:300,700|Josefin+Sans'
            rel='stylesheet'
            type='text/css'>
        <style>
            
            #map{height: 750px;}
        </style>
    </head>
    
    <body>
        
        <div id = "welcome">
            <center><h1 style = "color: red"> What's COOKING?</h1></center>
        </div>

        <div id="page-wrapper">

            <div>
              Select a text file: 
              <input type="file" name="file" id="file">
            </div>

          </div>
        
        <div id = "map">
        
        </div>
    
    </body>
    

    <script>

        var map = L.map('map').setView([32.7,-117.1], 13);

        mapLink='<a href="http://openstreetmap.org">OpenStreetMap</a>';

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; ' + mapLink,
            maxZoom:18
        }).addTo(map);

        document.getElementById('file').onchange = function(){

          var file = this.files[0];

          

          var reader = new FileReader();
          reader.onload = function(progressEvent){

            var heat = [];
    
            // By lines
            var lines = this.result.split('\n');

            for(var line = 0; line < lines.length-1; line++){

              var heatmini = [];

              var ls = lines[line].split(' ');

              heatmini[0] = ls[0];
              heatmini[1] = ls[1];
              heatmini[2] = ls[2];

              heat[line] = heatmini;

            }

            var heats = L.heatLayer(heat, {radius: 50}).addTo(map);
          };
          reader.readAsText(file);
        };


/*
            for(var line = 0; line < lines.length; line++){

                if(line%2 == 0){
                    var ls = lines[line].split(' ');

                    var marker = L.marker([ls[0], ls[1]]).addTo(map);
                }

            }
          };
          reader.readAsText(file);
        };

  */


    </script>
</html>
