body {
  padding: 50px;
  font-family:; 14px "Lucida Grande", Helvetica, 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

/*body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}*/
